<ul class="semesters">
  <li class="current-semester"><a href="#">Fall 2020</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/spring20/">Spring 2020</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/fall19/">Fall 2019</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/spring19/">Spring 2019</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/fall18/">Fall 2018</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/summer18/">Summer 2018</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/spring18/">Spring 2018</a></li>
  <li><a href="https://www.cs.jhu.edu/~huang/cs817/fall17/">Fall 2017</a></li>
</ul>
