<h1>Schedule</h1>
<table class="table-bordered schedule">
  <tr class="info">
    <th class="date">Date</th><th class="presenter">Presenter</th><th class="title">Title</th><th class="conference">Conference</th><th class="material">Material</th>
  </tr>
  <tr>
    <td>01/29/2021</td>
    <td>Chang Lou</td>
    <td>
      <p class="title">Aragog: Scalable Runtime Verification of Shardable Networked Systems</p>
      <p class="authors">Nofel Yaseen, University of Pennsylvania; Behnaz Arzani and Ryan Beckett, Microsoft Research; Selim Ciraci, Microsoft; Vincent Liu, University of Pennsylvania</p>
    </td>
    <td>OSDI '20</td>
    <td><a href="https://www.usenix.org/system/files/osdi20-yaseen.pdf">Paper</a></td>
  </tr>
  <tr>
    <td>02/05/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>02/12/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>02/19/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>02/26/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>03/05/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>03/12/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>03/19/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>03/26/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/02/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/09/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/16/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/23/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/30/2021</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
</table>
