<h1>Schedule</h1>
<table class="table-bordered schedule">
<tr class="info">
  <th class="date">Date</th><th class="presenter">Presenter</th><th class="title">Title</th><th class="conference">Conference</th><th class="material">Material</th>
</tr>
<tr>
  <td>08/30/2019</td>
  <td>Yigong Hu</td>
  <td>
    <p class="title">Under-Constrained Symbolic Execution: Correctness Checking for Real Code</p>
    <p class="authors">David A. Ramos and Dawson Engler, Stanford University</p>
  </td>
  <td>USENIX Security '15</td>
  <td><a href="https://www.usenix.org/system/files/conference/usenixsecurity15/sec15-paper-ramos.pdf">Paper</a></td>
</tr>
<tr>
  <td>09/06/2019</td>
  <td></td>
  <td><i>Canceled</i></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>09/13/2019</td>
  <td>Shiwei Weng</td>
  <td>
    <p class="title">A Lightweight Symbolic Virtual Machine for Solver-Aided Host Languages</p>
    <p class="authors">Emina Torlak and Rastislav Bodik, UC Berkeley</p>
  </td>
  <td>PLDI '14</td>
  <td><a href="https://homes.cs.washington.edu/~emina/doc/rosette.pldi14.pdf">Paper</a></td>
</tr>
<tr>
  <td>09/20/2019</td>
  <td>Haoze Wu</td>
  <td>
    <p class="title">SAMC: Semantic-Aware Model Checking for Fast Discovery of Deep Bugs in Cloud Systems</p>
    <p class="authors">Tanakorn Leesatapornwongsa and Mingzhe Hao, University of Chicago; Pallavi Joshi, NEC Labs America; Jeffrey F. Lukman, Surya University; Haryadi S. Gunawi, University of Chicago</p>
  </td>
  <td>OSDI '14</td>
  <td><a href="https://www.usenix.org/system/files/conference/osdi14/osdi14-paper-leesatapornwongsa.pdf">Paper</a></td>
</tr>
<tr>
  <td>09/27/2019</td>
  <td>Chang Lou</td>
  <td>
    <p class="title">D<sup>3</sup>S: Debugging Deployed Distributed Systems</p>
    <p class="authors">Xuezheng Liu and Zhenyu Guo, Microsoft Research Asia; Xi Wang, Tsinghua University; Feibo Chen, Fudan University; Xiaochen Lian, Shanghai Jiaotong University; Jian Tang, Ming Wu and Zheng Zhang, Microsoft Research Asia</p>
  </td>
  <td>NSDI '08</td>
  <td><a href="https://www.usenix.org/legacy/events/nsdi08/tech/full_papers/liu_xuezheng/liu_xuezheng.pdf">Paper</a></td>
</tr>
<tr>
  <td>10/04/2019</td>
  <td>Brian Choi</td>
  <td>
    <p class="title">PMTest: A Fast and Flexible Testing Framework for Persistent Memory Programs</p>
    <p class="authors"></p>
  </td>
  <td>ASPLOS '19</td>
  <td><a href="https://cseweb.ucsd.edu/~jzhao/files/pmtest-asplos2019.pdf">Paper</a></td>
</tr>
<tr>
  <td>10/11/2019</td>
  <td></td>
  <td><i>Canceled</i></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>10/18/2019</td>
  <td>Yigong Hu</td>
  <td>
    <p class="title">Performance Contracts for Software Network Functions</p>
    <p class="authors">Rishabh Iyer, Luis Pedrosa, Arseniy Zaostrovnykh, Solal Pirelli, Katerina Argyraki, and George Candea, EPFL</p>
  </td>
  <td>NSDI '19</td>
  <td><a href="https://www.usenix.org/system/files/nsdi19-iyer.pdf">Paper</a></td>
</tr>
<tr>
  <td>10/25/2019</td>
  <td>Chang Lou</td>
  <td>
    <p class="title">Cross-checking Semantic Correctness: The Case of Finding File System Bugs</p>
    <p class="authors">Changwoo Min, Sanidhya Kashyap, Byoungyoung Lee, Chengyu Song, and Taesoo Kim, Georgia Institute of Technology</p>
  </td>
  <td>SOSP '15</td>
  <td><a href="https://gts3.org/~sanidhya/pubs/2015/juxta.pdf">Paper</a></td>
</tr>
<tr>
  <td>11/01/2019</td>
  <td>Haoze Wu</td>
  <td>
    <p class="title">FCatch: Automatically Detecting Time-of-fault Bugs in Cloud Systems</p>
    <p class="authors">Haopeng Liu, University of Chicago, Chicago; Xu Wang, Beihang University; Guangpu Li and Shan Lu, University of Chicago; Feng Ye and Chen Tian, Huawei</p>
  </td>
  <td>ASPLOS '18</td>
  <td><a href="https://people.cs.uchicago.edu/~shanlu/paper/asplos18_fcatch.pdf">Paper</a></td>
</tr>
<tr>
  <td>11/08/2019</td>
  <td>Shiwei Weng</td>
  <td>
    <p class="title">Scaling symbolic evaluation for automated verification of systems code with Serval</p>
    <p class="authors">Luke Nelson and James Bornholt, University of Washington; Ronghui Gu, Columbia University; Andrew Baumann, Microsoft Research; Emina Torlak and Xi Wang, University of Washington</p>
  </td>
  <td>SOSP '19</td>
  <td><a href="https://unsat.cs.washington.edu/papers/nelson-serval.pdf">Paper</a></td>
</tr>
<tr>
  <td>11/15/2019</td>
  <td></td>
  <td><i>Canceled</i></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>11/22/2019</td>
  <td>Brian Choi</td>
  <td>
    <p class="title">SplitFS: Reducing Software Overhead in File Systems for Persistent Memory</p>
    <p class="authors">Rohan Kadekodi (University of Texas at Austin), Se Kwon Lee (University of Texas at Austin), Sanidhya Kashyap (Georgia Tech), Taesoo Kim (Georgia Tech), Aasheesh Kolli (Penn State University and VMware Research), Vijay Chidambaram (University of Texas at Austin and VMware Research)</p>
  </td>
  <td>SOSP '19</td>
  <td><a href="https://www.cs.utexas.edu/~vijay/papers/sosp19-splitfs.pdf">Paper</a></td>
</tr>
<tr>
  <td>11/29/2019</td>
  <td></td>
  <td><i>Thanksgiving break</i></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>12/06/2019</td>
  <td>Yigong Hu</td>
  <td>
    <p class="title">X-ray: Automating Root-Cause Diagnosis of Performance Anomalies in Production Software</p>
    <p class="authors">Mona Attariyan, University of Michigan and Google; Michael Chow and Jason Flinn, University of Michigan</p>
  </td>
  <td>OSDI '12</td>
  <td><a href="https://www.usenix.org/system/files/conference/osdi12/osdi12-final-33.pdf">Paper</a></td>
</tr>
</table>