<h1>Schedule</h1>
<table class="table-bordered schedule">
  <tr class="info">
    <th class="date">Date</th><th class="presenter">Presenter</th><th class="title">Title</th><th class="conference">Conference</th><th class="material">Material</th>
  </tr>
  <tr>
    <td>01/28/2022</td>
    <td></td>
    <td>
      <p class="title">Organizational Meeting</p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>02/04/2022</td>
    <td>Chang Lou</td>
    <td>
      <p class="title">Using Lightweight Formal Methods to Validate a Key-Value Storage Node in Amazon S3</p>
      <p class="authors">James Bornholt (Amazon Web Services & The University of Texas at Austin), Rajeev Joshi (Amazon Web Services), Vytautas Astrauskas (ETH Zurich), Brendan Cully (Amazon Web Services), Bernhard Kragl (Amazon Web Services), Seth Markle (Amazon Web Services), Kyle Sauri (Amazon Web Services), Drew Schleit (Amazon Web Services), Grant Slatton (Amazon Web Services), Serdar Tasiran (Amazon Web Services), Jacob Van Geffen (University of Washington), Andrew Warfield (Amazon Web Services)</p>
    </td>
    <td>SOSP '21</td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483540">Paper</a></td>
  </tr>
  <tr>
    <td>02/11/2022</td>
    <td>Haoze Wu</td>
    <td>
      <p class="title">Snowboard: Finding Kernel Concurrency Bugs through Systematic Inter-thread Communication Analysis</p>
      <p class="authors">Sishuai Gong (Purdue University), Deniz Altınbüken (Google Research), Pedro Fonseca (Purdue University), Petros Maniatis (Google Research)</p>
    </td>
    <td>SOSP '21</td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483549">Paper</a></td>
  </tr>
  <tr>
    <td>02/18/2022</td>
    <td>Yigong Hu</td>
    <td>
      <p class="title">Solving Large-Scale Granular Resource Allocation Problems Efficiently with POP</p>
      <p class="authors">Deepak Narayanan (Stanford University), Fiodar Kazhamiaka (Stanford University), Firas Abuzaid (Stanford University), Peter Kraft (Stanford University), Akshay Agrawal (Stanford University), Srikanth Kandula (Microsoft Research), Stephen Boyd (Stanford University), Matei Zaharia (Stanford University and Databricks)</p>
    </td>
    <td>SOSP '21</td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483588">Paper</a></td>
  </tr>
  <tr>
    <td>02/25/2022</td>
    <td>Brian Choi</td>
    <td>
      <p class="title">Witcher: Systematic Crash Consistency Testing for Non-Volatile Memory Key-Value Stores</p>
      <p class="authors">Xinwei Fu (Virginia Tech), Wook-Hee Kim (Virginia Tech), Ajay Paddayuru Shreepathi (Stony Brook University), Mohannad Ismail (Virginia Tech), Sunny Wadkar (Virginia Tech), Dongyoon Lee (Stony Brook University), Changwoo Min (Virginia Tech)</p>
    </td>
    <td>SOSP '21</td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483556">Paper</a></td>
  </tr>
  <tr>
    <td>03/04/2022</td>
    <td>Gongqi Huang</td>
    <td>
      <p class="title">RUDRA: Finding Memory Safety Bugs in Rust at the Ecosystem Scale</p>
      <p class="authors">Yechan Bae (Georgia Institute of Technology), Youngsuk Kim (Georgia Institute of Technology), Ammar Askar (Georgia Institute of Technology), Jungwon Lim (Georgia Institute of Technology), Taesoo Kim (Georgia Institute of Technology)</p>
    </td>
    <td>SOSP '21</td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483570">Paper</a></td>
  </tr>
  <tr>
    <td>03/11/2022</td>
    <td>Senapati S. Diwangkara</td>
    <td>
      <p class="title">Differential Network Analysis</p>
      <p class="authors">Peng Zhang, Xi'an Jiaotong University; Aaron Gember-Jacobson, Colgate University; Yueshang Zuo, Yuhao Huang, Xu Liu, and Hao Li, Xi'an Jiaotong University</p>
    </td>
    <td>NSDI '22</td>
    <td><a href="https://aaron.gember-jacobson.com/docs/nsdi2022dna.pdf">Paper</a></td>
  </tr>
  <tr>
    <td>03/18/2022</td>
    <td>Yuzhuo Jing</td>
    <td>
      <p class="title">HEALER: Relation Learning Guided Kernel Fuzzing</p>
      <p class="authors">Hao Sun (School of Software, Tsinghua University, KLISS, BNRist, China), Yu Heng Shen (School of Software, Tsinghua University, KLISS, BNRist, China), Cong Wang (School of Software, Tsinghua University, KLISS, BNRist, China), Jianzhong Liu (School of Software, Tsinghua University, KLISS, BNRist, China), Yu Jiang (School of Software, Tsinghua University, KLISS, BNRist, China), Ting Chen (Center for Cybersecurity, University of Electronic Science and Technology of China, China), Aiguo Cui (Huawei Technologies Co Ltd, China)</p>
    </td>
    <td></td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483547">Paper</a></td>
  </tr>
  <tr>
    <td>03/25/2022</td>
    <td></td>
    <td>
      <p class="title"><i>Spring Break</i></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/01/2022</td>
    <td>Chang Lou</td>
    <td>
      <p class="title">Kangaroo: Caching Billions of Tiny Objects on Flash</p>
      <p class="authors">Sara McAllister (Carnegie Mellon University), Benjamin Berg (Carnegie Mellon University), Julian Tutuncu-Macias (Carnegie Mellon University), Juncheng Yang (Carnegie Mellon University), Sathya Gunasekar (Facebook), Jimmy Lu (Facebook), Daniel Berger (University of Washington/ Microsoft Research), Nathan Beckmann (Carnegie Mellon University), Gregory R. Ganger (Carnegie Mellon University)</p>
    </td>
    <td></td>
    <td><a href="https://dl.acm.org/doi/10.1145/3477132.3483568">Paper</a></td>
  </tr>
  <tr>
    <td>04/08/2022</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/15/2022</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/22/2022</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
  <tr>
    <td>04/29/2022</td>
    <td></td>
    <td>
      <p class="title"></p>
      <p class="authors"></p>
    </td>
    <td></td>
    <td><a href="#"></a></td>
  </tr>
</table>
